@media (min-width: 320px) and (max-width: 575.9px) {
  .container {
    width: 320px;
  }
  .logo img {
    margin-left: 7px;
    width: 100px;
  }
  /* navber_part */
  .banner {
    z-index: 1;
  }
  .banner img {
    width: 320px;
    margin-left: 228px;
  }
  .description h1 {
    color: rgb(13, 54, 88);
    padding-left: 25%;
    padding-top: 9px;
  }
  .offer .logo2 {
    position: absolute;
    top: -781px;
    left: 224px;
  }
  .offer h2 {
    color: white;
    left: 248px;
    display: inline-block;
    top: -573px;
    width: 600px;
    font-size: 24px;
    position: absolute;
  }
  .offer p {
    color: white;
    left: 248px;
    display: inline-block;
    top: -522px;
    width: 600px;
    font-size: 15px;
    position: absolute;
  }
  .offer .details label {
    color: rgb(229, 236, 243);
    left: 506px;
    top: -471px;
    width: 162px;
    font-size: 16px;
    position: absolute;
    border: 1px solid rgb(126, 174, 221);
    padding: 10px 20px;
    cursor: pointer;
  }
  .offer .details input {
    color: rgb(247, 244, 244);
    left: 191px;
    top: -471px;
    position: absolute;
    background-color: rgb(23, 52, 77);
    padding: 11px 62px;
  }
  .footer_last {
    margin-left: -112px;
  }
  .footer_last .links{
    padding: 5px 25px;
  }
  .footer_last .links1{
    padding: 5px 25px;
  }
  .footer_last .links li {
    padding: 8px;
  }
  .footer_last ul {
    padding: 5px 10px;
    color: white;
  }
  .footer_last .social_icon{
    display: flex;
    align-items: flex-start;
  }
  .ending_part p {
    color: whitesmoke;
    margin-top: 484px;
    margin-left: -130px;
  }
  .over_lay {
    width: 100%;
    height: 656px;
    background-color: rgb(10, 69, 117);
    position: absolute;
    z-index: 2;
    opacity: 0.8;
  }
  .cols-xm-1 {
    width: calc(var(--fixed_width) * 1%);
  }
  .cols-xm-2 {
    width: calc(var(--fixed_width) * 2%);
  }
  .cols-xm-3 {
    width: calc(var(--fixed_width) * 3%);
  }
  .cols-xm-4 {
    width: calc(var(--fixed_width) * 4%);
  }
  .cols-xm-5 {
    width: calc(var(--fixed_width) * 5%);
  }
  .cols-xm-6 {
    width: calc(var(--fixed_width) * 6%);
  }
  .cols-xm-7 {
    width: calc(var(--fixed_width) * 7%);
  }
  .cols-xm-8 {
    width: calc(var(--fixed_width) * 8%);
  }
  .cols-xm-9 {
    width: calc(var(--fixed_width) * 9%);
  }
  .cols-xm-10 {
    width: calc(var(--fixed_width) * 10%);
  }
  .cols-xm-11 {
    width: calc(var(--fixed_width) * 11%);
  }
  .cols-xm-12 {
    width: calc(var(--fixed_width) * 12%);
  }
}
/* ---------------------xm---------------end--------- */
@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    width: 576px;
    position: relative;
  }
  .logo img {
    margin-left: 7px;
    width: 130px;
  }
  /* navber_part */
  .banner img {
    width: 576px;
    margin-left: 100px;
  }
  .description h1 {
    color: rgb(13, 54, 88);
    padding-left: 25%;
    padding-top: 9px;
  }
  .offer .logo2 {
    position: absolute;
    top: -781px;
    left: 224px;
  }
  .offer h2 {
    color: white;
    left: 248px;
    display: inline-block;
    top: -573px;
    width: 600px;
    font-size: 24px;
    position: absolute;
  }
  .offer p {
    color: white;
    left: 248px;
    display: inline-block;
    top: -522px;
    width: 600px;
    font-size: 15px;
    position: absolute;
  }
  .offer .details label {
    color: rgb(229, 236, 243);
    left: 506px;
    top: -471px;
    width: 162px;
    font-size: 16px;
    position: absolute;
    border: 1px solid rgb(126, 174, 221);
    padding: 10px 20px;
    cursor: pointer;
  }
  .offer .details input {
    color: rgb(247, 244, 244);
    left: 191px;
    top: -471px;
    position: absolute;
    background-color: rgb(23, 52, 77);
    padding: 11px 62px;
  }
  .footer_last {
    margin-left: -112px;
  }
  .footer_last .links{
    padding: 5px 25px;
  }
  .footer_last .links1{
    padding: 5px 25px;
  }
  .footer_last .links li {
    padding: 8px;
  }
  .footer_last ul {
    padding: 5px 10px;
    color: white;
  }
  .footer_last .social_icon{
    display: flex;
    align-items: flex-start;
  }
  .ending_part p {
    color: whitesmoke;
    margin-top: 484px;
    margin-left: -132px;
  }
  /* complicated_footer part */

  .over_lay {
    width: 100%;
    height: 656px;
    background-color: rgb(10, 69, 117);
    position: absolute;
    z-index: 2;
    opacity: 0.8;
  }
  .cols-sm-1 {
    width: calc(var(--fixed_width) * 1%);
  }
  .cols-sm-2 {
    width: calc(var(--fixed_width) * 2%);
  }
  .cols-sm-3 {
    width: calc(var(--fixed_width) * 3%);
  }
  .cols-sm-4 {
    width: calc(var(--fixed_width) * 4%);
  }
  .cols-sm-5 {
    width: calc(var(--fixed_width) * 5%);
  }
  .cols-sm-6 {
    width: calc(var(--fixed_width) * 6%);
  }
  .cols-sm-7 {
    width: calc(var(--fixed_width) * 7%);
  }
  .cols-sm-8 {
    width: calc(var(--fixed_width) * 8%);
  }
  .cols-sm-9 {
    width: calc(var(--fixed_width) * 9%);
  }
  .cols-sm-10 {
    width: calc(var(--fixed_width) * 10%);
  }
  .cols-sm-11 {
    width: calc(var(--fixed_width) * 11%);
  }
  .cols-sm-12 {
    width: calc(var(--fixed_width) * 12%);
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  /*---------------------------- COLS_PART-------------- */
  .cols-M-1 {
    width: calc(var(--fixed_width) * 1%);
  }
  .cols-M-2 {
    width: calc(var(--fixed_width) * 2%);
  }
  .cols-M-3 {
    width: calc(var(--fixed_width) * 3%);
  }
  .cols-M-4 {
    width: calc(var(--fixed_width) * 4%);
  }
  .cols-M-5 {
    width: calc(var(--fixed_width) * 5%);
  }
  .cols-M-6 {
    width: calc(var(--fixed_width) * 6%);
  }
  .cols-M-7 {
    width: calc(var(--fixed_width) * 7%);
  }
  .cols-M-8 {
    width: calc(var(--fixed_width) * 8%);
  }
  .cols-M-9 {
    width: calc(var(--fixed_width) * 9%);
  }
  .cols-M-10 {
    width: calc(var(--fixed_width) * 10%);
  }
  .cols-M-11 {
    width: calc(var(--fixed_width) * 11%);
  }
  .cols-M-12 {
    width: calc(var(--fixed_width) * 12%);
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  /*---------------------------- COLS_PART-------------- */
  .cols-L-1 {
    width: calc(var(--fixed_width) * 1%);
  }
  .cols-L-2 {
    width: calc(var(--fixed_width) * 2%);
  }
  .cols-L-3 {
    width: calc(var(--fixed_width) * 3%);
  }
  .cols-L-4 {
    width: calc(var(--fixed_width) * 4%);
  }
  .cols-L-5 {
    width: calc(var(--fixed_width) * 5%);
  }
  .cols-L-6 {
    width: calc(var(--fixed_width) * 6%);
  }
  .cols-L-7 {
    width: calc(var(--fixed_width) * 7%);
  }
  .cols-L-8 {
    width: calc(var(--fixed_width) * 8%);
  }
  .cols-L-9 {
    width: calc(var(--fixed_width) * 9%);
  }
  .cols-L-10 {
    width: calc(var(--fixed_width) * 10%);
  }
  .cols-L-11 {
    width: calc(var(--fixed_width) * 11%);
  }
  .cols-L-12 {
    width: calc(var(--fixed_width) * 12%);
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 767.9px) {
  .container {
    width: 768px;
    position: relative;
  }
  .logo img {
    margin-left: 71px;
  }
  .first_nav ul {
    display: flex;
    justify-content: flex-start;
    width: 374px;
    margin-left: 21px;
    color: steelblue;
    align-items: center;
  }
  .first_nav ul li {
    list-style-type: none;
    font-size: 14px;
    padding: 8px 3px;
  }
  /* nav_Part */
  .second_nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: gray;
    top: 95px;
    position: fixed;
    height: 100vh;
    width: 50%;
    width: 71%;
    margin-left: -96px;
    justify-content: flex-start;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s linear;
  }
  .second_nav ul li {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Menu {
    text-align: right;
    line-height: 75px;
    font-size: 30px;
    cursor: pointer;
    display: block;
    display: inline-block;
    margin-left: 425px;
    color: rgb(9, 59, 133);
  }
  .second_nav ul.nav_active {
    opacity: 1;
    visibility: visible;
    display: flex;
    align-content: space-evenly;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .second_nav ul li a {
    color: white;
    padding: 10px;
  }
  .flag1 {
    position: absolute;
    top: 16px;
    left: 650px;
  }
  .flag2 {
    position: absolute;
    top: 16px;
    padding: 28px;
    left: 685px;
    width: 28px;
    font-size: 20px;
  }
  .flag2 p {
    top: -5px;
    left: 19px;
  }
}
